@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css");

/* * {
    font-family: 'Open Sans', sans-serif;
} */

html {
    scroll-behavior: smooth;
}

/* .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 10;
}

.header nav {
    padding: 2rem 3rem 2rem 3rem;;
}

.header nav a img {
    width: 60%;
    height: 60%;
}

.slider {
    background-image: url(../img/bg-image-22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    height: 60rem;
} */

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.header nav {
    padding: 2rem 3rem 2rem 3rem;;
}

.header nav a img {
    width: 60%;
    height: 60%;
}

.header .navbar-brand {
    font-size: 2rem;
}

.header .nav-item {
    position: relative;
    padding: 0rem 0.5rem;
}

.header .nav-item button {
    border-radius: 50px;
    padding: 1rem 3rem;
    border: 2px solid hsla(0, 0% ,100%, .2);

    transition: all 0.5s;
}

.header .nav-item button:hover {
    background-color: #fd4766;
}

.header .nav-item .nav-link {
    transition: all 0.5s;
}

.header .nav-item:hover .nav-link {
    color: #fd4766 !important;
}

.header .active .nav-link {
    color: #fd4766 !important;
}

.header .nav-item.active::after {
    width: 100%;
}

.header .dropdown-item {
    transition: all 0.5s;
}

.header .dropdown-item:hover {
    color: #fd4766;
    background-color: white;
}

.slider .carousel-indicators .active {
    border: 2px solid #fd4766;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0.5rem;    
}

.slider .carousel-item {
    height: 59.4rem;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider .carousel-item-1 {
    background: url(../img/bg-image-22.jpg);
}

.slider .carousel-item-2 {
    background: url(../img/bg-image-23.jpg);
}

.slider .carousel-item-3 {
    background: url(../img/bg-image-24.jpg);
}

.slider .carousel-item-4 {
    background: url(../img/bg-image-20.jpg);
}

.slider .carousel-item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.slider .carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}

.slider .carousel-caption h1 {
    font-size: 10rem;
}

.slider .carousel-caption p {
    font-size: 2rem;
    
}

.slider .carousel-caption button {
    background-color: #fd4766;
    border-radius: 50px;
    padding: 1rem 3rem;
    border: 2px solid #fd4766;

    transition: all 0.5s;
}

.slider .carousel-caption button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #fd4766;
}

.slider .carousel-indicators li {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}

.services p:first-child {
    font-size: 1.25rem;
    margin-top: 8rem;
}

.services h2 {
    font-size: 4rem;
}

.services p {
    font-size: 1.5rem;
}

.services .services-detail {
    margin-top: 8rem;
    margin-bottom: 16rem;
}

.services .services-detail .card {
    border: 0px;
    cursor: pointer;
}

/* TODO: CSS hover effect is not working simultanously with animate.css library */
/* .services .services-detail .card:hover {
    transform: translateY(-5px);
    transition: all 0.5s;
} */

.services .services-detail svg {
    margin: 1rem 0rem 0rem 1rem;
}

.projects p:first-child {
    font-size: 1.25rem;
    margin-top: 8rem;
}

.projects h2 {
    font-size: 4rem;
}

.projects p {
    font-size: 1.5rem;
}

.projects .projects-detail {
    margin-top: 8rem;
}

.projects .projects-detail .card {
    border: none;
    cursor: pointer;
}

.projects .projects-detail .card img {
    border-radius: 10px;
}

.projects .projects-detail .card div {
    margin-top: 12rem;    
}

.projects .projects-detail .card div > p {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, .75);
}

.projects .projects-detail .card div > p:last-child {
    display: none;
}

.projects .projects-detail .card:hover {
    display: block;
}

.projects .projects-detail .card div h3 {
    font-size: 2.25rem;
}

.projects .container button {
    border-radius: 50px;
    padding: 1rem 3rem;
    border: 2px solid hsla(0, 0% ,100%, .2);

    transition: all 0.5s;

    background-color: #fd4766;

    margin-bottom: 16rem;
}

.projects .container button:hover {
    background-color: #ffffff;
    color: #fd4766;

    border: 2px solid #fd4766;
}

.about {
    margin-bottom: 16rem;
}

.about-left img {
    width: 26rem;
    height: 40rem;
    border-radius: 15px;
}

.about-right li {
    font-size: 1.5rem;
}

.about-right p {
    font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 576px) {}
